Email address: <%= @from_user.email %>
Time: <%= @feedback_message.created_at %>
<%- if @feedback_message.details['url'] -%>
URL: <a href="<%= @feedback_message.details['url'] %>"><%= @feedback_message.details['url'] %></a>
<%- end -%>
<br />
<br />
Message:
<br />
<%= @feedback_message.message %>
